streamlit
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-chroma
langchain-groq
langchain-huggingface
chromadb
sentence-transformers
python-dotenv
unstructured
beautifulsoup4
requests